:root {
    --blue: #2196F3;
    --red: #f44336;
    --green: #4CAF50;
    --gray: #aaa;
    --graylight: #eee;
    --whitebgcolor: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background: var(--graylight);
}
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

/* Materialize form colors */
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid var(--blue) !important;
    border-bottom: 2px solid var(--blue) !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(119, 187, 243);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--blue);
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:focus+label {
    color: var(--blue) !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--blue) !important;
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid var(--blue) !important;
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid var(--red) !important;
    box-shadow: 0 1px 0 0 var(--red) !important;
}

.input-field .prefix.active {
    color: var(--blue) !important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    position: relative;
}

main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--whitebgcolor);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

footer {
    position: relative;
    min-height: 50px;
    margin-top: -20px;
    padding: 30px 0px;
    font-size: 12px;
    color: var(--gray);
}

footer::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--whitebgcolor);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

ul {
    height: 200px;
    overflow-y: scroll;
    padding-right: 20px;
}

#messages li {
    display: block;
    margin-bottom: 10px;
}

#join-room {
    margin-top: 60px;
}

#online-users i,
#existing-rooms span,
#my-rooms span,
#messages .reply {
    cursor: pointer;
}

#typers {
    font-style: italic;
    color: gray;
    font-size: 13px;
    margin-bottom: 20px;
}

.switch{
    display: inline-block;
}

i.tiny {
    font-size: 1.5rem;
}