ul {
    height: 150px;
    overflow-y: scroll;
}

form {
    display: inline-block;
}

/* Materialize form colors */
:root {
    --materialize-form-color: #2196F3;
}
/* checkbox color */
[type="checkbox"]:checked + span:not(.lever):before{
    border-right: 2px solid var(--materialize-form-color) !important;
    border-bottom: 2px solid var(--materialize-form-color) !important;
}
/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus+label {
    color: var(--materialize-form-color) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--materialize-form-color) !important;
    box-shadow: 0 1px 0 0 var(--materialize-form-color) !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid var(--materialize-form-color) !important;
    box-shadow: 0 1px 0 0 var(--materialize-form-color) !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid var(--materialize-form-color) !important;
    box-shadow: 0 1px 0 0 var(--materialize-form-color) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--materialize-form-color) !important;
}